= form_for link, :html => { :class => 'form-inline' } do |f|

  = render "shared/error_message", entity: link
  .form-group
    = f.text_field :long_url, :placeholder => "Paste your link here", :class => "form-control col-sm-12"
  .form-group
    = f.submit "Generate", :class => "btn btn-custom"
