- if recently_shortenerd_count > 0
  %section#recently_shortened
    .row
      .col-lg-7.col-md-8.text-center
        %h2
          Recently shortened links

        %table.table
          %tbody
            - recently_shortened_urls.each do |lnk|
              %tr
                %td
                  %span
                    - short_link = show_short_url(lnk['short_url'])
                    = link_to short_link, url_for(short_link)
                %td
                  %span.glyphicon.glyphicon-arrow-right
                %td
                  %span
                    = link_to truncate(show_long_url(lnk['long_url']), lenght: 100), url_for(lnk['long_url'])
                  %span{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Clicks count"}
                    = lnk['clicks_count']
                    %span.glyphicon.glyphicon-stats