- if recently_shortened_count > 0
  %section#recently_shortened
    .row
      .col-md-8.col-md-offset-2.text-center
        %h2
          Recently shortened links

        %table.table
          %tbody
            - recently_shortened_urls.each do |lnk|
              %tr
                %td.col-xs-5
                  %span
                    - short_link = show_short_url(lnk['short_url'])
                    = link_to short_link, url_for(short_link)
                %td.col-xs-1
                  %span.glyphicon.glyphicon-arrow-right
                %td.col-xs-3
                  %span
                    = link_to truncate(show_long_url(lnk['long_url']), lenght: 100), url_for(lnk['long_url'])
                %td.col-xs-1
                  %span{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Clicks count"}
                    = lnk['clicks_count']
                    %span.glyphicon.glyphicon-stats