.row
  .col-lg-8.col-md-10.col-sm-12.text-center
    %h2
      Shrink you url

.row
  .col-lg-8.col-md-10.col-sm-12.text-center
    = render 'links/form', :link => @link

= render "recently_shortened"