@font-face {
  font-family: 'laCartoonerie';
  src: asset-url('laCartoonerie.eot');
  src: local('laCartoonerie'), asset-url('laCartoonerie.woff') format('woff'), asset-url('laCartoonerie.ttf') format('truetype');
}