body
  font-family: 'GrundschriftBold'

.form-inline
  .btn
    width: 84px
  &+.form-inline
    margin-top: 6px

#content
  .row
    &>div
      float: none
      margin-left: auto
      margin-right: auto

header
  background: #D1C4E9
  font-family: 'GrundschriftBold'
  font-weight: bold
  font-style: normal

.form-inline
  input.form-control
    width: 240px !important
    
#form
  margin: 100px auto

.btn-custom
  background-color: #B39DDB
  border-color: #B39DDB

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active
  background-color: #a58ad4
  border-color: #9678cd

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active
  background-color: #B39DDB
  border-color: #B39DDB
