body
  font-family: 'GrundschriftBold'

a
  color: #7E57C2

.form-inline
  .btn
    width: 84px
  &+.form-inline
    margin-top: 6px
  .form-group
    .form-control
      display: inline-block
    &:first-of-type
      input
        font-family: Helvetica, Arial, Sans-Serif
        &::-webkit-input-placeholder
          font-family: 'GrundschriftBold'

        &:-moz-placeholder
          font-family: 'GrundschriftBold'

        &::-moz-placeholder
          font-family: 'GrundschriftBold'

        &:-ms-input-placeholder
          font-family: 'GrundschriftBold'

#content
  .row
    &>div
      float: none
      margin-left: auto
      margin-right: auto

header
  background: #D1C4E9
  font-family: 'GrundschriftBold'
  font-weight: bold
  font-style: normal
  height: 80px
  .row
    margin-left: 0
    margin-right: 0

.form-inline
  input.form-control
    width: 290px !important
    
#form
  margin: 100px auto
  
#errors
  margin-top: -20px
  margin-bottom: 20px
  li
    list-style-type: none
    color: #F06292

#recently_shortened
  .table
    td
      border: none
.btn-custom
  background-color: #B39DDB
  border-color: #B39DDB

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active
  background-color: #a58ad4
  border-color: #9678cd

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active
  background-color: #B39DDB
  border-color: #B39DDB
